body{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.container{
    display: flex;
    flex-direction: column;
    width: 800px;
    border-right: black 3px solid;
}
.section-name{
    background-color: gray;
}
.dropzone-start{
    height: 50px;
    background-color: white;
}
.dropzone-drop{
    height: 50px;
    border: 2px dotted black;
    background-color: honeydew;
    text-align: center;
}
.addBook__form{
    display: none;
    flex-direction: column;
    
}
.addBook__form-name{
    margin-bottom: 20px;
}
.addBook__form-button{
    width: 100px;
    margin: 20px 0px;
}
.addBook__form-text{
    height:200px;
    display: flex;
    justify-content: start;
    align-items: flex-start;
}
.book_card{
    display: flex;
    flex-direction: row;
    margin: 5px;
    background-color: gainsboro;
    align-items: center;
}
.book_card-wasRead{
    display: flex;
    flex-direction: row;
    margin: 5px;
    background-color: #00FF7F;
    align-items: center;
}
.book_card-name{
    width: 200px;
    word-wrap: break-word
}
.book_card-button{
    border: 1px white solid;
    border-radius: 30px;
    margin: 0 5px;
    height: 20px;
    
}

.readBook{
    display: flex;
    justify-content: center;
    width: 100%;
}
.readBook__area{
    margin: 50px;
    width: 500px;
    text-align: left;
    word-wrap:break-word;
}